<!--View 2 - On clicking the 'Register' button in View 1, user wil be
directed to the Success page if there are no form validation errors
and it passes all of the server validation rules. -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Success</title>
   </head>
   <body>

      <h2>
         Added
      </h2>

      <h2> <a href="/events/listing">Back</a></h2>
      
   </body>
</html>